<html>
<body>
    <form action="/chklogin" method = "post">
     <center>
    <h3>User Login</h3>
    <table>
    <tr><td>
        <input type="text" name="uid" placeholder="User ID">
    </td></tr>
    <tr><td>
        <input name="Password" name="pwd" placeholder="Password">
    </td></tr>
    <tr><td>
        <input type="Submit"  value="Login">
    </td></tr>
    </table>
     </center>
     <%=msg %>
     </form>
</body>
</html>